################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs
/My Project/PublishProfiles/FolderProfile.pubxml
/My Project/PublishProfiles/FolderProfile.pubxml.user
/NukaxanWEB.vbproj.user

/packages
